<h2>Your well-being rituals</h2>

<% @categories.each do |c| %>
<h3><%= c.name %></h3>
<h3><% c.rituals.each do |r| %></h3>
<h3><%= r.title %></h3>
<p><%= r.description %></p>
<a href="/rituals/<%= r.id %>/edit">Edit this ritual</a>
  <form action="/rituals/<%= r.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input class="submit" type="submit" value="Delete This Ritual">
  </form>
<% end%>
<br>
<h3><a href="/categories/<%= c.id %>">View all rituals in this category</a> </h3>
<hr>
<% end%>
<br>
<br>
<a href="/rituals/new">Create a new ritual</a>


