<div class="center">
<h6><%= @category.name %> </h6>
<br>
<br>
<% @category.rituals.each do |r| %>
<% if current_user.rituals.include?(r)%>
    <h2><%= r.title %></h2>
    <h5><%= r.description %></h5>
    
    <form action="/rituals/<%= r.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input class="submit" type="submit" value="Delete This Ritual">
    </form>
<br>
<br>
<button class ="btn-nice"><a class="text-my-own-color" href="/rituals/<%= r.id %>/edit">Edit this ritual</a></button>

<button class ="btn-nice"><a class="text-my-own-color"href="/categories/<%= @category.id %>/rituals/new">Create a new ritual in this category</a></button>
<% end%>
<% end%>
</div>